html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: biaodian, "Noto Serif SC Medium", FSung-2, fSung-F, serif;
  letter-spacing: 1px;
  font-size: 110%;
  line-height: 1.7;
  line-break: auto;
  text-align: left;
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -epub-writing-mode: horizontal-tb;
  -webkit-margin-start: 1.5em;
  -webkit-margin-end: 0.8em;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-line-break: auto;
}
.em2 {
  font-weight: normal;
}
.jiazhu {
  color: #069;
  font-weight: normal;
  font-size: 85%;
}
.jianshu {
  color: #069;
  font-weight: normal;
  font-size: 85%;
}
.jiaozhusup {
  font-size: 12px;
  color: #B9584E;
  font-weight: bold;
}
.jiaozhusup::after {
  content: "";
  background-color: #629fd1;
  color: white;
  text-indent: 0;
  margin: 0;
}
.section {
  font-weight: bold;
}
.fenduan {
}
span.yinwen {
  font-size: small;
  color: #795548;
  padding: 0 3px;
  border-radius: 3px;
}
#text {
  text-align: justify;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media screen and (max-device-width: 480px) {
  #text {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 87.36%;
    padding-left: 1.82%;
    padding-right: 1.82%;
  }
}
h1 {
  font-size: x-large;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}
p:before{
  content: '';
  display: block;
  margin-top: -15px;
  height: 15px;
  visibility: hidden;
}
.gg-link {
  visibility: hidden;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs,1));
  width: 8px;
  height: 2px;
  background: currentColor;
  border-radius: 4px
}

.gg-link::after,
.gg-link::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 8px;
  height: 10px;
  border: 2px solid;
  top: -4px
}

.gg-link::before {
  border-right: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  left: -6px
}

.gg-link::after {
  border-left: 0;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  right: -6px
}
p:hover .gg-link {
  visibility: visible;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}
h2 {
  font-size: large;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}
